/* CSS file for week 6 class example */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***********************************************************
						DEFAULTS
***********************************************************/

html{
	padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px; 
    background:#aad4cf;
	margin: 0 auto;
}

h1{
    font-size: 3.2rem; /* 51.2px - based on the root size of 10px set in the HTML */
}

h2{
	font-size: 1.8rem; /* 28px based on root size of 10px */
	padding-top: 20px;
}

h3{
	font-size: 1.2rem;
	padding-top: 10px;
	padding-bottom: 15px;
}

p{
    font-size: 1rem; /* 16px based on root size of 10px */
}

/***********************************************************
						MAIN
***********************************************************/

/* style the element with the ID container */
#container{
	margin: 0 auto;
	padding-left: 500px;
}

.text{
	position: absolute;
	top: 50px;
	padding: 365px;
	margin-top: -190px;
	text-align: center;
	color: white;
}

/***********************************************************
						NAV
***********************************************************/



nav ul li a{
    text-decoration:none; /* removes the underline default from the link */
    height: 23px;
	text-align: center;
}

nav ul{
    background-color: rgb(191, 220, 230);;
    padding:0 400px;
	float: left;
	display: block;
}

nav ul a span{
    color: black;
    margin-top: 10px;
	float: left;
    padding:0 140px;
    font-size: 1.5rem;
    border-left: 1.5px solid black;
}

.home{
    border-left: none;
}

/***********************************************************
						CONTENT
***********************************************************/

.simg{
	width: 200px;
	height: 200px;
	float: left;
	padding: 10px;
}

.fimg{
	margin: 0 auto;
	padding-top: -15px;
	padding-left: -20px;
}

article, #nav{
	margin: 30px 470px;
	padding: 0 5px 50px 50px;
}

section{
	background-color:rgb(191, 220, 230);
	padding:20px 10px 15px 25px; 
	line-height: 25px;
}

.fheading{
	padding-bottom: 10px;
}

.sheading{
	padding-bottom: 10px;
}


li{
	padding-top: 15px;
	line-height: 7px;
}

.li{
	line-height: 2.1px;
}

form{
	border: 2px solid black;
	padding: 10px;
}

.finput{
	width: 825px;
}

/*styling button*/
#send{
	border: 2px solid black;
	text-decoration: none;
	color: black;
	padding: 10px;
}

footer{
	text-align: right;
	padding-top: 25px;
	padding-bottom: 15px;
	padding-right: 20px;
}

.isend{
	padding: 20px 23px 10px 10px;
}

ul{
	float: left;
	margin: 0 auto;
}













