body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}
footer, header{
    background-color:fuchsia;
}

.site-title{
    color: greenyellow;
}

a{
    text-decoration: none;
}

#my-image{
    box-shadow: 0 0 2px 1px black;
}

li{
    list-style-type: square;
}

li:nth-child(2n-1){
    background-color: blanchedalmond;
}

nav{
    background-color: orange;
    border:5px solid #000000;
}

nav:hover{
    background-color: yellow;
}