/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




img{
    display: block;
    margin: 0 auto;
    width: 1800px;
}

nav ul{
    text-align: center;
}

.container{
    background-color: black;
}

span{
    font-size: 20px;
}

input{
    width:1800px;
    height: 40px;
}

.main-img{
    height: 500px;
    width: 1600px;
}

.text-wrapper{
    position: relative;
    margin-top: -220px;
    margin-left: 185px;
    padding-right: 215px;
    color: white;
    font-size: 28px;
    margin-bottom: -100px;
    background-color: rgba(211, 211, 211, 0.541);
}

.content-wrapper2{
    display: block;
    background-color: rgb(255, 205, 145);
    padding-bottom: 25px;
}

.text-wrapper2{
    background-color: rgb(255, 205, 145);
}

.about-img{
    margin-top: 150px;
    height: 500px;
    width: 1600px;
    margin-bottom: -1px;
    padding-top: 50px;
}

.digital-img{
    margin-top: 20px;
    height: 500px;
    width: 1600px;
    margin-bottom: -1px;
}

.text-wrapper3{
    background-color: rgb(255, 205, 145);
}

.marketing-img{
    height: 500px;
    width: 1600px;
    margin-top: 25px;
}

.hmarketing{
    font-size: 50px;
}

.text-wrapper3{
    background-color: (255, 205, 145);
}

.video-img{
    height: 500px;
    width: 1600px;
    margin-top: 25px;
}

.hvideo{
    font-size: 50px;
}

.text-wrapper4{
    background-color: rgb(255, 205, 145);
}

.web-img{
    height: 500px;
    width: 1600px;
    margin-top: 25px;
}

.hweb{
    font-size: 50px;
}

.text-wrapper5{
    background-color: rgb(255, 205, 145);
}

.print-img{
    height: 500px;
    width: 1600px;
    margin-top: 25px;
}

.hprint{
    font-size: 50px;
}

.text-wrapper6{
    background-color: rgb(255, 205, 145);
}


.vision-img{
    height: 300px;
    width: 1600px;
    margin-top: 25px;
}

.text-wrapper7{
    position: relative;
    margin-top: -200px;
    margin-left: 185px;
    padding-right: 215px;
    color: white;
}

.content8{
    margin-top: -250px;
}

.content8 h1{
    font-size: 60px;
}

.john-img{
    width: 1700px;
    height: 450px;
}

.text-wrapper8 h2{
    font-size: 35px;
    line-height: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.text-wrapper8 h3{
    font-size: 30px;
    line-height: 5px;
    line-height: 28px;
    border-bottom: 5px solid black;
}

.text-wrapper8{
    background-color: rgb(255, 205, 145);
}

.bob-img{
    width: 1700px;
    height: 450px;
}

.pclass{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.pclass2{
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 15px;
}

.text-wrapper9 h2{
    font-size: 35px;
    line-height: 3px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.text-wrapper9 h3{
    font-size: 30px;
    line-height: 5px;
    line-height: 28px;
    border-bottom: 5px solid black;
}

.text-wrapper9{
    background-color: rgb(255, 205, 145);
}

.content9{
    font-size: 30px;
}

.h9{
    font-size: 28px;
}

caption{
    font-size: 25px;
    margin-top: 10px;
}

.location{
    font-size: 28px;
    margin-bottom: -15px;
}

footer{
    margin-top: 30px;
    background-color: black;
    color: gold;
    font-size: 20px;
    line-height: 35px;
}

.un{
    color: gold;
}

.hh1{
    padding-top: 25px;
    font-size: 50px;
}

.hh2{
    padding-top: 25px;
    font-size: 50px;
}

.hh3{
    font-size: 50px;
}

.hh4{
    margin-top: 400px;
    font-size: 50px;
}

i{
    color: gold;
    font-size: 30px;
    border: 1px solid gold;
}

.li{
    text-decoration: none;
}

.li1{
    font-size: 40px;
    line-height: 65px;
}